$color1: #191919;
$color2: #2d4263;
$color3: #c84b31;
$color4: #ecdbba;


/* footer nuevo */
.pie-pagina{
    width: 100%;
    background-color: $color1;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: $color3;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: $color2;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $color4;
    margin-right: 10px;
    background-color: $color2;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: $color3;
  }
  .pie-pagina .grupo-2{
    background-color: $color2;
    padding: 15px 10px;
    text-align: center;
    color: $color4;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }
  /* tarjeta */
  .page-wrapper {  
    height: 100%;  
    display: table;  
   }  
   .page-wrapper .page-inner {  
    display: table-cell;  
    vertical-align: middle;  
   }  
   .el-wrapper {  
    width: 360px;  
    padding: 15px;  
    margin: 15px auto;  
    background-color: $color4;  
   }  
   @media (max-width: 991px) {  
    .el-wrapper {  
     width: 345px;  
    }  
   }  
   @media (max-width: 767px) {  
    .el-wrapper {  
     width: 290px;  
     margin: 30px auto;  
    }  
   }  
   .el-wrapper:hover .h-bg {  
    left: 0px;  
   }  
   .el-wrapper:hover .price {  
    left: 20px;  
    -webkit-transform: translateY(-50%);  
    -ms-transform: translateY(-50%);  
    -o-transform: translateY(-50%);  
    transform: translateY(-50%);  
    color: $color3;  
   }  
   .el-wrapper:hover .add-to-cart {  
    left: 50%;  
   }  
   .el-wrapper:hover .img {  
    webkit-filter: blur(7px);  
    -o-filter: blur(7px);  
    -ms-filter: blur(7px);  
    filter: blur(7px);  
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');  
    opacity: 0.4;  
   }  
   .el-wrapper:hover .info-inner {  
    bottom: 155px;  
   }  
   .el-wrapper:hover .a-size {  
    -webkit-transition-delay: 300ms;  
    -o-transition-delay: 300ms;  
    transition-delay: 300ms;  
    bottom: 50px;  
    opacity: 1;  
   }  
   .el-wrapper .box-down {  
    width: 100%;  
    height: 60px;  
    position: relative;  
    overflow: hidden;  
   }  
   .el-wrapper .box-up {  
    width: 100%;  
    height: 300px;  
    position: relative;  
    overflow: hidden;  
    text-align: center;  
   }  
   .el-wrapper .img {  
     width: 200px;
    padding: 20px 0;  
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
   }  
   .h-bg {  
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    width: 660px;  
    height: 100%;  
    background-color: $color3;  
    position: absolute;  
    left: -659px;  
   }  
   .h-bg .h-bg-inner {  
    width: 50%;  
    height: 100%;  
    background-color: $color2;  
   }  
   .info-inner {  
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);  
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);  
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    position: absolute;  
    width: 100%;  
    bottom: 25px;  
   }  
   .info-inner .p-name,  
   .info-inner .p-company {  
    display: block;  
   }  
   .info-inner .p-name {  
    font-family: 'PT Sans', sans-serif;  
    font-size: 18px;  
    color: $color1;  
   }  
   .info-inner .p-company {  
    font-family: 'Lato', sans-serif;  
    font-size: 12px;  
    text-transform: uppercase;  
    color: $color2;  
   }  
   .a-size {  
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);  
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);  
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    position: absolute;  
    width: 100%;  
    bottom: -20px;  
    font-family: 'PT Sans', sans-serif;  
    color: $color3;  
    opacity: 0;  
   }  
   .a-size .size {  
    color: $color3;  
   }  
   .cart {  
    display: block;  
    position: absolute;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    font-family: 'Lato', sans-serif;  
    font-weight: 700;  
   }  
   .cart .price {  
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-delay: 100ms;  
    -o-transition-delay: 100ms;  
    transition-delay: 100ms;  
    display: block;  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    -webkit-transform: translate(-50%, -50%);  
    -ms-transform: translate(-50%, -50%);  
    -o-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);  
    font-size: 16px;  
    color: $color1;  
   }  
   .cart .add-to-cart {  
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);  
    /* ease-out */  
    -webkit-transition-delay: 100ms;  
    -o-transition-delay: 100ms;  
    transition-delay: 100ms;  
    display: block;  
    position: absolute;  
    top: 50%;  
    left: 110%;  
    -webkit-transform: translate(-50%, -50%);  
    -ms-transform: translate(-50%, -50%);  
    -o-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);  
   }  
   .cart .add-to-cart .txt {  
    font-size: 12px;  
    color: $color4;  
    letter-spacing: 0.045em;  
    text-transform: uppercase;  
    white-space: nowrap;  
   }
  /* fin tarjeta */
  /* mapas */
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

$contactos: (
  contacto1: cursive,
  contacto2: fantasy,
  contacto3: fantasy,
  contacto4: fantasy
);
@each $contacto, $font in $contactos {
  .btn--#{$contacto}{
    margin: 20px;
    color: $color1;
    font-size: 20px;
    font-family: $font;
  }
}
.btn--contacto1{
  color: $color3;
}
.containercontacto{
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
}

/* comentarios de seccion usadas */
.comentarios{
  font-size: 50px;
  color: $color2;
  font-family: cursive;
}
.comentarios2{
  @extend .comentarios;
  background-color: $color3;
}
/* comentarios de motos 0km */

.motos{
  background-color: $color2;
  font-size: 20px;
  color: $color3;
}
@mixin sizes ($height, $width, $bcolor) {
  height: $height;
  width: $width;
  background-color: $bcolor;
}
.motos{
  @include sizes(100px, 100% , $color2 )
}
.motos2{
  @include sizes(100px, 100% , $color2 )
}